// 노멀라이즈 
body , ul , li{
  list-style: none;
  margin: 0; padding: 0;
  font-family: 'Inter', Arial, sans-serif;
}
body{
  
}
a{
  text-decoration: none;
  color: inherit;
}

// 본문 p1
body{
  .s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 746px;
    background-color: #000;
    color:#fff;
    span {
      font-weight: 600;
      font-size: 20px;
    }
    span:nth-child(1) {
      text-align: center;
    }
  }
  .s2 {
    display: flex;
    flex-direction: column;
    padding: 67px 20px;
    padding-bottom: 135px;
    position: relative;
    .s2-top {
      width: 100%;
      gap: 48px;
      display: flex;
      align-items: end;
      span {
        font-size: 15px;
        font-weight: 500;
      }
      a {
        font-size: 12px;
        font-weight: 500;
      }
    }
    .s2-swiper{
      padding-top: 42px;
      max-width: 1920px;
      box-sizing: border-box;
      .swiper-wrapper {
        background-color: #000;
        display: flex;
        .swiper-slide {
          display: flex;
          flex-direction: column;
          width: 300px !important;
          height: 507px !important;
          background-color: #fff;
          gap: 7px;
          img {
            width: 100%;
            height: 432px;
          }
          div {
            display: flex;
            flex-direction: column;
            gap: 7px;
            font-size: 12px;
            span:nth-child(1) {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .s3 {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    .s3-swiper {
      max-width: 1920px;
      width: 100%;
      box-sizing: border-box;
      overflow: visible !important;
      .swiper-wrapper{
        background-color: #000;
        display: flex;
        z-index: 10;
        .swiper-slide {
          display: flex;
          width: 100%;
          height: 1048px;
          img {
            height: 100%;
            width: 50%;
          }
        }
      }
      .swiper-pagination{
        top: -30px;
        left: auto;
        right:  20px;
        z-index: 50;
        width: 70px;
        height: 20px;
      }
      .swiper-pagination span {
        background: none;  
        padding: 0;    
        border: none;   
        color: #D2D2D2;     
        font-size: 12px;   
        opacity: 1;

      }
      .swiper-pagination .swiper-pagination-bullet-active {
        color: #000000; /* 활성화된 페이지네이션 색상 */
      }

    }
  }
}